<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--alert出一个页面的模板，-->
<div th:fragment="common-alert(id)">
    <div class="modal fade" th:attr="id=${id}" tabindex="-1" role="dialog" style="z-index: 9999">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 th:attr="id=${id + '-code'}" class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p th:attr="id=${id + '-msg'}">One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</html>