<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--向页面添加一个img，点击可以发送ajax修改图片-->
<div th:fragment="common-cover-user(src)">
    <div class="col-xs-12">
        <a class="thumbnail">
            <img th:src="${@environment.getProperty('windor.file-image-address')} + *{src}" alt="封面图片"/>
        </a>
    </div>
</div>
<!--src: 封面图片地址, url：待上传的地址-->
<div th:fragment="common-cover-admin(src, url)">
    <div class="col-xs-12">
        <a id="windor-show-cover" href="javascript:void(0)" class="thumbnail">
            <img th:src="*{src == null} ? @{/static/img/cover-big.png} : ${@environment.getProperty('windor.file-download-address')} + *{src}" alt="封面图片"/>
        </a>
        <input id="windor-form-cover" name="file" type="file" class="hidden"/>
    </div>
    <!--更换图片-->
    <script>
        /*coverReturnId: 发送请求后将数据放入该变量中，用于接收服务器分配上传路径的id*/
        var coverReturnId = null;
        $("#windor-form-cover").change(function () {
            if ($("#windor-form-cover").val() !== "") {
                var formData = new FormData();
                formData.append('file', $("#windor-form-cover")[0].files[0])
                $.ajax({
                    url: "[[*{url}]]",
                    type: "post",
                    data: formData,
                    contentType: false,  // 不用任何编码 因为formdata对象自带编码 django能够识别该对象
                    processData: false,  // 告诉浏览器不要处理我的数据 直接发就行
                    success: function (data) {
                        coverReturnId = data.data;
                        let src = "[[${@environment.getProperty('windor.file-download-address')}]]" + data.data + "?t=" + new Date().getTime();
                        $("#windor-show-cover").children(0).attr("src", src);
                        windorAlert("提示", "更换图片成功!");
                    }
                })
            }
        });
        $("#windor-show-cover").click(function () {
            $("#windor-form-cover").click();
        });
    </script>
</div>
</body>
</html>