<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--核心线程的详细页-->
<!--
    重绑定按钮：$("#ddt-rebind").click()
    句柄值：$("#i-rebind-hwnd").val()

    移除任务：$("#btn-removeTask").click()
    当前选中的任务索引：$("#select-tasks").prop("selectedIndex")
    添加任务按钮：$("#btn-addTask-submit").click()
    添加任务值：$("#form-taskAdd").serialize()

    自动领取任务：#btn-autoTask
    任务值：$("#i-autoTask").val()

    自动使用活力：#btn-autoUseProp
    活力值：$("#i-autoUseProp").val()

    设定自动重连账号密码：$("#form-reconnect").submit(function() {
        postAjax('URI', $(this).serialize(), function(){

        })
    })


-->
<div th:fragment="detail(passes, running, state, suspend, runTime, hwnd, config, rules, taskAutoComplete, autoUseProp, username, password, ddtankLog, levelSummaryMap)">
    <div id="addTask" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">添加任务</h4>
                </div>
                <div class="modal-body">
                    <form id="form-taskAdd" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">通关数</label>
                            <div class="col-md-9">
                                <input class="form-control" name="passed" type="number"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">关卡选择</label>
                            <div class="col-md-4">
                                <select class="form-control" name="levelLine">
                                    <option value="1" th:selected="${config.levelLine == 1}">1 行</option>
                                    <option value="2" th:selected="${config.levelLine == 2}">2 行</option>
                                    <option value="3" th:selected="${config.levelLine == 3}">3 行</option>
                                    <option value="4" th:selected="${config.levelLine == 4}">4 行</option>
                                    <option value="5" th:selected="${config.levelLine == 5}">5 行</option>
                                    <option value="6" th:selected="${config.levelLine == 6}">6 行</option>
                                    <option value="7" th:selected="${config.levelLine == 7}">7 行</option>
                                    <option value="8" th:selected="${config.levelLine == 8}">8 行</option>
                                    <option value="9" th:selected="${config.levelLine == 9}">9 行</option>
                                    <option value="10" th:selected="${config.levelLine == 10}">10 行</option>
                                </select>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <select class="form-control" name="levelRow">
                                    <option value="1" th:selected="${config.levelRow == 1}">1 列</option>
                                    <option value="2" th:selected="${config.levelRow == 2}">2 列</option>
                                    <option value="3" th:selected="${config.levelRow == 3}">3 列</option>
                                    <option value="4" th:selected="${config.levelRow == 4}">4 列</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">难度</label>
                            <div class="col-md-9">
                                <div class="slider-img" th:attr="slider-default=${config.levelDifficulty}">
                                    <img src="/static/img/副本难度.bmp" style="width: 100%"/>
                                </div>
                                <input type="hidden" name="levelDifficulty" th:value="${config.levelDifficulty}"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="btn-addTask-submit" type="button" class="btn btn-primary">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="detail-panel" class="detail-body row">
        <div class="detail-panel-head">
            <div class="detail-panel-head-wrapper">
                <div class="detail-panel-head-title">脚本信息</div>
                <div class="detail-panel-head-title">
                    <button id="btn-serialize" class="btn btn-success">保存</button>
                </div>
            </div>
        </div>
        <div class="detail-panel-body">
            <div class="detail-panel-body-core">
                <div class="detail-panel-col">
                    <div>挂本次数</div>
                    <span th:text="${passes}"></span>
                </div>
                <div class="detail-panel-col">
                    <div>是否正在运行</div>
                    <span th:text="${running ? '是' : '否'}"></span>
                </div>
                <div class="detail-panel-col">
                    <div>是否暂停</div>
                    <span th:text="${suspend ? '是' : '否'}"></span>
                </div>
                <div class="detail-panel-col">
                    <div>当前状态</div>
                    <span th:text="${state.getMsg()}"></span>
                </div>
                <div class="detail-panel-col">
                    <div>脚本运行时间</div>
                    <span class="time-ms" th:text="${runTime}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-body row detail-control">
        <div id="control-panel" class="col-md-9" style="margin-bottom: 0">
            <div id="control-panel-title">
                <div class="form-horizontal" style="flex-grow: 1">
                    <div class="form-group">
                        <label class="col-md-2 control-label">控制面板</label>
                    </div>
                </div>
            </div>
            <div id="control-panel-body">
                <div id="control-panel-wrapper">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">当前句柄</label>
                            <div class="col-md-8">
                                <input id="i-rebind-hwnd" class="form-control" th:value="${hwnd}"/>
                            </div>
                            <div class="col-md-2">
                                <button id="ddt-rebind" class="btn btn-primary col-sm-12">重绑定</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">当前副本</label>
                            <div class="col-md-2">
                                <select class="form-control" name="levelLine">
                                    <option value="1" th:selected="${config.levelLine == 1}">1 行</option>
                                    <option value="2" th:selected="${config.levelLine == 2}">2 行</option>
                                    <option value="3" th:selected="${config.levelLine == 3}">3 行</option>
                                    <option value="4" th:selected="${config.levelLine == 4}">4 行</option>
                                    <option value="5" th:selected="${config.levelLine == 5}">5 行</option>
                                    <option value="6" th:selected="${config.levelLine == 6}">6 行</option>
                                    <option value="7" th:selected="${config.levelLine == 7}">7 行</option>
                                    <option value="8" th:selected="${config.levelLine == 8}">8 行</option>
                                    <option value="9" th:selected="${config.levelLine == 9}">9 行</option>
                                    <option value="10" th:selected="${config.levelLine == 10}">10 行</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" name="levelRow">
                                    <option value="1" th:selected="${config.levelRow == 1}">1 列</option>
                                    <option value="2" th:selected="${config.levelRow == 2}">2 列</option>
                                    <option value="3" th:selected="${config.levelRow == 3}">3 列</option>
                                    <option value="4" th:selected="${config.levelRow == 4}">4 列</option>
                                </select>
                            </div>
                            <label class="col-md-1 control-label">难度</label>
                            <div class="col-md-5">
                                <div class="slider-img" th:attr="slider-default=${config.levelDifficulty}">
                                    <img src="/static/img/副本难度.bmp" style="width: 100%"/>
                                </div>
                                <input type="hidden" name="levelDifficulty" th:value="${config.levelDifficulty}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">当前任务</label>
                            <div class="col-md-7">
                                <select id="select-tasks" class="form-control">
                                    <option class="list-group-item" th:each="rule:${rules}"
                                            th:text="${'通关' + rule.passed + '次副本后选择[' + rule.levelLine + '-' + rule.levelRow + ']，难度值：[' + rule.levelDifficulty + '%]'}"
                                            th:value="${rule.passed}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button id="btn-removeTask" class="btn btn-danger">删除</button>
                                <button id="btn-addTask" class="btn btn-primary pull-right" data-toggle="modal"
                                        data-target="#addTask">添加任务
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">自动领取任务</label>
                            <div class="col-md-8">
                                <input id="i-autoTask" class="form-control" type="number" name="taskAutoComplete"
                                       th:value="${taskAutoComplete}"/>
                            </div>
                            <div class="col-md-2">
                                <button id="btn-autoTask" class="btn btn-primary col-sm-12">设置</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">自动补充活力</label>
                            <div class="col-md-8">
                                <input id="i-autoUseProp" class="form-control" type="number" name="autoUseProp"
                                       th:value="${autoUseProp}"/>
                            </div>
                            <div class="col-md-2">
                                <button id="btn-autoUseProp" class="btn btn-primary col-sm-12">设置</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏快照</label>
                            <div id="game-screen" class="col-md-10">
                                <img th:src="@{/util/screenshot(hwnd=${hwnd})}"/>
                            </div>
                        </div>
                    </div>
                    <form id="form-reconnect" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">账号</label>
                            <div class="col-md-3"><input class="form-control" name="username" th:value="${username}"/></div>
                            <label class="col-md-2 control-label">密码</label>
                            <div class="col-md-3"><input class="form-control" name="password" type="password"
                                                         th:value="${password}"/></div>
                            <div class="col-md-2">
                                <button class="btn btn-primary col-xs-12">设置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="ddt-logs-wrapper" class="col-md-3">
            <div id="ddt-logs-title">
                脚本日志
            </div>
            <div id="ddt-logs">
                <ul>
                    <li th:each="ddtlog, n:${ddtankLog.logs}" th:if="${n.count < 32}">[[${#numbers.formatInteger(ddtlog.time.hour,
                        2)}]]:[[${#numbers.formatInteger(ddtlog.time.minute,
                        2)}]]:[[${#numbers.formatInteger(ddtlog.time.second, 2)}]] [(${ddtlog.msg})]
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="detail-summary" class="row">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>模式</th>
                <th>关卡</th>
                <th>难度值</th>
                <th>通关数</th>
            </tr>
            <tr th:each="level:${levelSummaryMap.keySet()}">
                <td>[[${level.mode}]]</td>
                <td>[[${level.line}]]-[[${level.row}]]</td>
                <td>[[${level.difficulty}]]</td>
                <td>[[${levelSummaryMap.get(level)}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>