<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1=${notice == null ? '公告添加' : '公告编辑'})}">
<head>
    <title th:text="${notice == null ? '新公告' : '编辑公告'}">公告管理</title>
    <link th:href="@{/static/css/summernote.css}" rel="stylesheet">
    <script th:src="@{/static/js/summernote.min.js}"></script>
    <style>
        .carousel-img {
            width: 100%;
            padding: 0 0 39% 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            filter: brightness(90%);
        }
    </style>
</head>
<body>
<div>
    <div style="margin-bottom: 3%">
        <p class="help-block">单击图片更换封面</p>
        <div th:replace="common/cover :: common-cover-admin(${notice != null} ? ${notice.cover}, ${notice != null && notice.cover != null} ? @{/upload/image/{id}(id=${notice.cover})} : @{/upload/image})"></div>
    </div>
    <form id="noticeForm">
        <div class="form-group">
            <label for="title">标题</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                   th:value="${notice != null ? notice.title : ''}">
            <input type="hidden" name="id" id="notice-id" th:value="${notice != null ? notice.id : ''}"/>
            <input type="hidden" name="cover" id="notice-cover" th:value="${notice != null ? notice.cover : ''}"/>
        </div>
        <div class="form-group">
            <label for="attr">简介</label>
            <input type="text" class="form-control" id="attr" name="attr" placeholder="Describe"
                   th:value="${notice != null ? notice.attr : ''}">
        </div>
        <div class="form-group">
            <label for="score">排序值</label>
            <input type="number" class="form-control" id="score" name="score"
                   th:value="${notice != null ? notice.score : ''}">
            <p class="help-block">排序值越低越靠前显示哦</p>
        </div>
        <label for="summernote"></label><textarea id="summernote" name="content"
                                                  th:text="${notice != null ? notice.content : ''}"></textarea>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
<!--summernote-->
<script>
    $(function () {
        let summernote = $('#summernote');
        summernote.summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,                  // set focus to editable area after initializing summernote
            callbacks: {
                // 图片上传
                onImageUpload: function (files, editor, $editable) {
                    // upload image to server and create imgNode...
                    sendFile(files[0], editor, $editable);
                }
            }
        });

        //上传图片
        function sendFile(file, editor, $editable) {
            var formData = new FormData();
            formData.append('file', file)
            $.ajax({
                url: "[[@{/upload/image}]]",
                type: "post",
                data: formData,
                cache: false,
                contentType: false,  // 不用任何编码 因为formdata对象自带编码 django能够识别该对象
                processData: false,  // 告诉浏览器不要处理我的数据 直接发就行
                success: function (data) {
                    let src = "[[${@environment.getProperty('windor.file-download-address')}]]" + data.data + "?t=" + new Date().getTime();
                    $('#summernote').summernote('insertImage', src, file[name]);
                },
                error: function () {
                    alert("上传失败");
                }
            })
        }
    });
</script>
<!--公告提交-->
<script>
    $(function () {
        var id = $("#notice-id").val();
        if (id === "") {
            $("#noticeForm").submit(function () {
                if(coverReturnId !== null) {
                    $("#notice-cover").val(coverReturnId);
                }
                let form = $(this).serialize();
                postAjax("[[@{/notice}]]", form, function () {
                    location.href = "/";
                });
                return false;
            })
        } else {
            $("#noticeForm").submit(function () {
                if(coverReturnId !== null) {
                    $("#notice-cover").val(coverReturnId);
                }
                let form = $(this).serializeArray();
                putAjax("[[@{/notice}]]" + "/" + id, form, function () {
                    alert("修改成功!");
                });
                return false;
            })
        }
    })
</script>
</html>