<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1='新增配置 <small>强烈建议 <a href=\'/\'>运行</a> 后再新增哦！</small>')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/common/form.css" th:href="@{/static/css/common/form.css}">
    <link rel="stylesheet" href="/static/css/rsSliderLens.css" th:href="@{/static/css/rsSliderLens.css}">
    <script src="/static/js/jquery.rsSliderLens.js" th:src="@{/static/js/jquery.rsSliderLens.js}"></script>
</head>
<body>
<div class="row">
    <form id="configAddForm" class="form-horizontal">
        <div th:replace="common/form :: form-default(${config}, ~{::before}, ~{::end})">
            <div th:fragment="before">
                <label class="col-md-2 control-label">配置名称</label>
                <div class="col-md-10">
                    <input class="form-control" name="name" th:value="${config.name}"/>
                </div>
            </div>
            <div th:fragment="end">
                <div class="col-md-offset-10 col-md-2">
                    <button class=" btn btn-default" type="button" style="width: 100%">新增</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>