<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1='默认配置 <small>新建配置/启动脚本时的默认选项</small>')}">
<head>
    <meta charset="UTF-8">
    <title>DDTank —— 默认配置</title>
    <link rel="stylesheet" href="/static/css/rsSliderLens.css" th:href="@{/static/css/rsSliderLens.css}">
    <link rel="stylesheet" href="/static/css/common/form.css" th:href="@{/static/css/common/form.css}">
    <script src="/static/js/jquery.rsSliderLens.js" th:src="@{/static/js/jquery.rsSliderLens.js}"></script>
    <style>
        label {
            font-weight: normal;
        }

        .slider-img {
            line-height: 48px;
        }

        .input-group-fix {
            padding-left: 0;
        }

        .form-horizontal .checkbox {
            padding-top: 0;
        }
    </style>
</head>
<body>
<div class="row">
    <form id="configDefaultForm" class="form-horizontal">
        <div th:replace="common/form :: form-default(${config}, null, ~{::row})">
            <div th:fragment="row">
                <div class="col-md-offset-10 col-md-2">
                    <button class="btn btn-default btn-lg" style="width: 100%" type="submit">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    $("#configDefaultForm").submit(function () {
        postAjax("/config/default", $(this).serialize(), function (data) {
            windorAlert("提示", "已保存默认配置！")
        })
        return false;
    })
</script>
</html>