<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::.config-default-main}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{::.bg}, contentAfter=~{},
      h1='默认配置 <small>新建配置/启动脚本时的默认选项</small>')}">
<head>
    <meta charset="UTF-8">
    <title>DDTank —— 默认配置</title>
    <link rel="stylesheet" href="/static/css/rsSliderLens.css" th:href="@{/static/css/rsSliderLens.css}">
    <link rel="stylesheet" href="/static/css/common/form.css" th:href="@{/static/css/common/form.css}">
    <link rel="stylesheet" th:href="@{/static/css/bg.css}"/>
    <script src="/static/js/jquery.rsSliderLens.js" th:src="@{/static/js/jquery.rsSliderLens.js}"></script>
</head>
<body>
<div class="bg">
    <div class="bg-cover"
         th:style="'background-image:url(/static/img/bg/lamd.png);'"></div>
</div>
<div class="row config-default-main">
    <form id="configDefaultForm" class="form-horizontal">
        <div th:replace="common/form :: form-default(${config}, null, ~{::row})">
            <div th:fragment="row">
                <div class="col-md-offset-10 col-md-2">
                    <button class="btn btn-default btn-lg" style="width: 100%" type="submit">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    $("#configDefaultForm").submit(function () {
        postAjax("/config/default", $(this).serialize(), function (data) {
            windorAlert("提示", "已保存默认配置！")
        })
        return false;
    })
</script>
</html>