<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1='配置列表')}">
<head>
    <meta charset="UTF-8">
    <title>DDTank —— 终章</title>
    <style>
        .table > tbody > tr > td {
            line-height: 34px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="row">
    <table class="table table-hover table-striped">
        <tr>
            <th class="text-center">配置名称</th>
            <th class="text-center">操作</th>
        </tr>
        <tr th:each="config, n:${configList}">
            <td th:text="${config.name}"></td>
            <td>
                <a class="btn btn-default" th:href="@{/config/edit/{index}(index=${n.index})}">修改</a>
                <button class="btn btn-default">删除</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>