<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1='DDTank —— 终章')}">
<head>
    <meta charset="UTF-8">
    <title>DDTank —— 终章</title>
    <link rel="stylesheet" href="/static/css/iconfont.css" th:href="@{/static/css/iconfont.css}">
    <link rel="stylesheet" href="/static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="stylesheet" href="/static/css/rsSliderLens.css" th:href="@{/static/css/rsSliderLens.css}">
    <script src="/static/js/jquery.rsSliderLens.js" th:src="@{/static/js/jquery.rsSliderLens.js}"></script>
    <style>
        label {
            font-weight: normal;
        }

        .slider-img {
            line-height: 48px;
        }

        input[type='checkbox'] {
            zoom: 120%;
        }

        .input-group-fix{
            padding-left: 0;
        }

        .form-horizontal .checkbox {
            padding-top: 0;
        }
    </style>
</head>
<body>
<div class="row">
    <form id="configDefaultForm" class="form-horizontal">
        <div class="container-fluid">
            <h2 class="row">基础设置</h2>
            <hr class="row"/>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">选择副本</label>
                        <div class="col-md-2">
                            <select class="form-control" name="levelLine">
                                <option value="1" th:selected="${config.levelLine == 1}">1 行</option>
                                <option value="2" th:selected="${config.levelLine == 2}">2 行</option>
                                <option value="3" th:selected="${config.levelLine == 3}">3 行</option>
                                <option value="4" th:selected="${config.levelLine == 4}">4 行</option>
                                <option value="5" th:selected="${config.levelLine == 5}">5 行</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" name="levelRow">
                                <option value="1" th:selected="config.levelRow == 1">1 列</option>
                                <option value="2" th:selected="config.levelRow == 2">2 列</option>
                                <option value="3" th:selected="config.levelRow == 3">3 列</option>
                                <option value="4" th:selected="config.levelRow == 4">4 列</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label">副本结束等待时间</label>
                        <div class="col-md-4">
                            <div class="input-group  input-group-lg">
                                <input type="number" class="form-control" name="levelEndWaitTime" th:value="${config.levelEndWaitTime}">
                                <span class="input-group-addon">秒</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">副本模式</label>
                        <div class="col-md-4">
                            <div class="slider-img" th:attr="slider-default=${config.levelMode}">
                                <img src="/static/img/副本模式.bmp"/>
                            </div>
                            <input type="hidden" name="levelMode" th:value="${config.levelMode}"/>
                        </div>
                        <label class="col-md-1 control-label">难度</label>
                        <div class="col-md-5">
                            <div class="slider-img" th:attr="slider-default=${config.levelDifficulty}">
                                <img src="/static/img/副本难度.bmp" style="width: 100%"/>
                            </div>
                            <input type="hidden" name="levelDifficulty" th:value="${config.levelDifficulty}"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">技能</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="attackSkill" th:value="${config.attackSkill}"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">
                            角度修正
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" type="number" name="offsetAngle" th:value="${config.offsetAngle}"/>
                        </div>
                        <label class="col-md-2 control-label">
                            力度修正
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" type="number" name="offsetStrength" th:value="${config.offsetStrength}"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <div class="col-md-offset-2 col-md-3">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input type="checkbox" name="isThirdDraw" th:checked="${config.isThirdDraw}"> 有钱，翻第三张牌！
                                </label>
                            </div>
                        </div>
                        <label class="col-md-2 control-label">
                            <div class="checkbox">
                                <input type="checkbox" name="isHandleAttack" th:checked="${config.isHandleAttack}"><span>手动模式</span>
                            </div>
                        </label>
                        <div class="col-md-5 input-group-fix">
                            <label>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" name="handleAngle" th:value="${config.handleAngle}">
                                    <span class="input-group-addon">度</span>
                                    <input type="text" class="form-control" name="handleStrength" th:value="${config.handleStrength}">
                                    <span class="input-group-addon">力</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">检测间隔</label>
                        <div class="col-md-10">
                            <div class="slider">
                                <input id="delay" type="range" name="delay" th:value="${config.delay}" max="2000"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="row">矫正设置</h2>
            <hr class="row"/>
            <h3  class="row">屏距</h3>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label radio">
                            <input type="radio" name="isHandleCalcDistance" value="false" th:checked="${!config.isHandleCalcDistance}"/>
                            自动模式
                        </label>
                        <div class="col-md-10">
                            <label class="control-label">
                                <input type="checkbox" name="isCalcDistanceQuickly" th:checked="${config.isCalcDistanceQuickly}"> 进房就测量屏距（不勾选默认出手时才测量）
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label radio">
                            <input type="radio" name="isHandleCalcDistance" value="true"  th:checked="${config.isHandleCalcDistance}"/>
                            手动模式
                        </label>
                        <div class="col-md-10">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">小地图1距的距离：</span>
                                <input type="number" class="form-control" name="handleDistance" th:value="${config.handleDistance}">
                                <span class="input-group-addon">px</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3  class="row">角度</h3>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">
                            角度误差
                        </label>
                        <div class="col-md-10">
                            <input class="form-control" type="number" name="angleMis" th:value="${config.angleMis}"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">
                            特殊
                        </label>
                        <!--TODO 与手动打法冲突，待添加提示-->
                        <div class="col-md-3">
                            <label class="control-label">
                                <input type="checkbox" name="isClosestAngle" th:checked="${config.isClosestAngle}"> 临近角度打法
                            </label>
                        </div>
                        <label class="col-md-2 control-label">
                            <div class="checkbox">
                                <input type="checkbox" name="isFixedAngle" th:checked="${config.isFixedAngle}"> <span>固定角度打法</span>
                            </div>
                        </label>
                        <div class="col-md-3">
                            <select class="form-control" name="fixedAngle">
                                <option value="20" th:selected="${config.fixedAngle == 20}">20度</option>
                                <option value="30" th:selected="${config.fixedAngle == 30}">30度</option>
                                <option value="35" th:selected="${config.fixedAngle == 35}">35度</option>
                                <option value="40" th:selected="${config.fixedAngle == 40}">40度</option>
                                <option value="45" th:selected="${config.fixedAngle == 45}">45度</option>
                                <option value="50" th:selected="${config.fixedAngle == 50}">50度</option>
                                <option value="65" th:selected="${config.fixedAngle == 65}">65度</option>
                                <option value="70" th:selected="${config.fixedAngle == 70}">70度</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="row">识别</h3>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">
                            敌人扫描模式
                        </label>
                        <div class="col-md-10">
                            <select class="form-control" name="enemyFindMode">
                                <option value="0" th:selected="${config.enemyFindMode == 0}">从上到下，从左到右</option>
                                <option value="1" th:selected="${config.enemyFindMode == 1}">从下到上，从左到右</option>
                                <option value="2" th:selected="${config.enemyFindMode == 2}">从上到下，从右到左</option>
                                <option value="3" th:selected="${config.enemyFindMode == 3}">从下到上，从右到左</option>
                                <option value="4" th:selected="${config.enemyFindMode == 4}">从中心往外查找</option>
                                <option value="5" th:selected="${config.enemyFindMode == 5}">从左到右，从上到下</option>
                                <option value="6" th:selected="${config.enemyFindMode == 6}">从右到左，从上到下</option>
                                <option value="7" th:selected="${config.enemyFindMode == 7}">从左到右，从下到上</option>
                                <option value="8" th:selected="${config.enemyFindMode == 8}">从右到左，从下到上</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="row">启动参数</h2>
            <hr class="row"/>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">绑定模式</label>
                        <div class="col-md-2">
                            <input class="form-control" type="number" name="bindMode" th:value="${config.bindMode}"/>
                        </div>
                        <label class="col-md-2 control-label">截屏模式</label>
                        <div class="col-md-6">
                            <input class="form-control" name="bindDisplay" th:value="${config.bindDisplay}"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">鼠标模式</label>
                        <div class="col-md-10">
                            <input class="form-control" name="bindMouse" th:value="${config.bindMouse}"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">键盘模式</label>
                        <div class="col-md-10">
                            <input class="form-control" name="bindKeypad" th:value="${config.bindKeypad}"/>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-md-2 control-label">其他属性</label>
                        <div class="col-md-10">
                            <input class="form-control" name="bindPublic" th:value="${config.bindPublic}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-9 col-md-2">
                    <button class="btn btn-default" style="width: 100%" type="submit">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    $("#configDefaultForm").submit(function () {
        postAjax("/config/default", $(this).serialize(), function (data) {
            windorAlert("提示", "已保存默认配置！")
        })
        return false;
    })
</script>
<script>
    $(".slider-img").each(function (index, element) {
        $(element).rsSliderLens({
            handle: {
                zoom: 1,
                pos: 0.5
            },
            ruler: {
                visible: false
            },
            onChange: function (event, value, isFirstHandle) {
                $(event.currentTarget).parent("div").next("input[type='hidden']").val(value);
            },
            value: $(element).attr("slider-default")
        });
    });
    $(".handle .slider-img").each(function (index, element) {
        $(element).css("width", "1000%");
    })

    var labels = [];
    for (var i = 0; i <= 3000;) {
        labels.push(i);
        if (i < 500) {
            i += 50;
        } else if (i < 1000) {
            i += 100;
        } else if(i < 2000){
            i += 200;
        } else{
            i += 500;
        }
    }
    $(".slider").rsSliderLens({
        step: 1,
        paddingStart: 0.008,
        paddingEnd: 0.008,
        max: 2000,
        height: 48,
        handle: {
            zoom: 1
        },
        ruler: {
            labels: {
                values: labels
            },
            tickMarks: {
                short: {
                    step: 10
                },
                long: {
                    step: 50
                }
            }
        },
        range: {
            type: [20, 2000],
            draggable: true
        },
        value: [[${config.delay}]],
        onFinalChange: function (event, value, isFirstHandle) {
            $("#delay").val(value);
        }
    })
</script>
</html>