/*凡是带有背景图片的都走这个*/
.bg-cover {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    bottom: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .bg-cover {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .main-body {
        background-color: rgba(255, 255, 255, 0.98);
        padding-left: 5%;
        padding-right: 5%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

@media screen and (max-width: 767px) {
    .main-body {
        background-color: #fff;
    }

    .bg-cover {
        filter: none;
    }
}