.feedback-head-mode > div {
    float: left;
}

.feedback-head-mode img {
    width: 50px;
    height: 50px;
}

.feedback-info {
    margin: 25px 0;
    position: relative;
}

.feekback-info-author {
    position: absolute;
    bottom: 18px;
    right: 0;
    margin-right: 1%;
}

.user-head {
    display: block;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}