@font-face {
  font-family: "iconfont"; /* Project id 3692640 */
  src: url('//at.alicdn.com/t/c/font_3692640_plsd4q3vx7r.woff2?t=1693741298087') format('woff2'),
  url('//at.alicdn.com/t/c/font_3692640_plsd4q3vx7r.woff?t=1693741298087') format('woff'),
  url('//at.alicdn.com/t/c/font_3692640_plsd4q3vx7r.ttf?t=1693741298087') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doubt:before {
  content: "\e64d";
}

.icon-add:before {
  content: "\e66c";
}

.icon-caret-right:before {
  content: "\e8ec";
}

.icon-caret-left:before {
  content: "\e8ed";
}

.icon-right-s:before {
  content: "\e627";
}

.icon-duigou:before {
  content: "\e605";
}

.icon-xiaolian2-xianxing:before {
  content: "\e701";
}

.icon-xiaolian3-xianxing:before {
  content: "\e706";
}

.icon-xiaolian1-xianxing:before {
  content: "\e707";
}
