.detail-control {
    display: flex;
}

#control-panel {
    border: 1px solid #e3e4e6;
    border-radius: 4px;
    margin-right: 16px;
}

#detail-summary {
    margin-top: 16px;
    border: 1px solid #e3e4e6;
    border-radius: 4px;
}

#control-panel-body {
    padding-right: 16px;
}

#control-panel-wrapper {
    padding-top: 16px;
}

#ddt-logs-wrapper {
    border: 1px solid #e3e4e6;
    min-height: 454px;
    border-radius: 4px;
    box-sizing: content-box;
    padding: 0 20px;
}

#control-panel-title, #ddt-logs-title {
    height: 13%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#ddt-logs {
    min-width: 90%;
    position: absolute;
    overflow-y: scroll;
    font-size: 13px;
    height: 87%;
    color: #505050;
}

.detail-panel-head {
    padding: 0 16px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    min-height: 38px;
}

.detail-panel-head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-panel-head-title {
    padding-top: 16px;
    line-height: 24px;
}

.detail-panel-body {
    padding: 16px;
}

.detail-panel-body-core {
    display: flex;
    justify-content: space-between;
}

#detail-panel {
    border: 1px solid #e3e4e6;
    margin-bottom: 16px;
    border-radius: 4px;
}

#detail-panel span {
    font-size: 24px;
    line-height: 34px;
    display: block;
    padding: 4px 0;
}

.detail-panel-col div {
    font-weight: 700;
}