<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1=${name})}">
<head>
    <meta charset="UTF-8">
    <title>life track</title>
    <link rel="stylesheet" href="/static/css/rsSliderLens.css" th:href="@{/static/css/rsSliderLens.css}">
    <script src="/static/js/jquery.rsSliderLens.js" th:src="@{/static/js/jquery.rsSliderLens.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/common/thread_detail.css}"/>
</head>
<body>
<div th:replace="~{common/thread-detail :: detail(${passes}, ${running}, ${state}, ${suspend}, ${runTime}, -1, ${config}, ${rules}, ${taskAutoComplete}, ${autoUseProp}, ${username}, ${password}, ${ddtankLog}, ${levelSummaryMap})}">
</div>
</body>
<script th:src="@{/static/js/common/thread_detail.js}"></script>
<script>
    // 设置自动使用活力
    $("#btn-autoUseProp").click(function () {
        postAjax('/detail/script/[[${index}]]/autoUseProp', {
            autoUseProp: $("#i-autoUseProp").val()
        }, function (data) {
            windorAlert('提示', '自动补充活力设置成功！');
        })
    })

    // 设置自动领取任务
    $("#btn-autoTask").click(function () {
        postAjax('/detail/script/[[${index}]]/taskAutoComplete', {
            taskAutoComplete: $("#i-autoTask").val()
        }, function (data) {
            windorAlert('提示', '自动领取任务设置成功！');
        })
    })

    // 设置自动重连的用户名和密码
    $("#form-reconnect").submit(function () {
        postAjax('/detail/script/[[${index}]]/reconnect', $(this).serialize(), function (data) {
            windorAlert('提示', '自动重连设置成功！');
        })
        return false;
    })

    // 移除任务
    $("#btn-removeTask").click(function () {
        deleteAjax('/detail/script/[[${index}]]/task', {
            index: $("#select-tasks").prop("selectedIndex")
        }, function (data) {
            alert("任务删除成功！");
            location.reload();
        })
    })

    // 添加任务
    $("#btn-addTask-submit").click(function () {
        postAjax('/detail/script/[[${index}]]/task', $("#form-taskAdd").serialize(), function (data) {
            alert("任务添加成功！");
            location.reload();
        })
    })

    /*重绑定*/
    $("#ddt-rebind").click(function () {
        let param = {
            hwnd: -1,
            newHwnd: $("#i-rebind-hwnd").val()
        };
        if (param['hwnd'] == param['newHwnd']) {
            windorAlert("请更改句柄后再进行操作");
        } else {
            postAjax("/util/rebind", param, function (data) {
                windorAlert('提示', '重绑定成功');
            })
        }
    })
</script>
</html>