<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1=${name})}">
<head>
    <meta charset="UTF-8">
    <title>life track</title>
    <link rel="stylesheet" href="/static/css/rsSliderLens.css" th:href="@{/static/css/rsSliderLens.css}">
    <link rel="stylesheet" href="/static/css/common/form.css" th:href="@{/static/css/common/form.css}">
    <link rel="stylesheet" th:href="@{/static/css/bg.css}"/>
    <script src="/static/js/jquery.rsSliderLens.js" th:src="@{/static/js/jquery.rsSliderLens.js}"></script>
    <style>
        .detail-body {
            display: flex;
        }

        #ddt-logs-wrapper {
            background-color: rgb(241, 242, 243);
            min-height: 454px;
            border-radius: 10px;
            box-sizing: content-box;
            padding: 0 20px;
        }

        #ddt-logs-title {
            height: 13%;
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        #ddt-logs {
            min-width: 94%;
            position: absolute;
            overflow-y: scroll;
            font-size: 13px;
            height: 87%;
            color: #505050;
        }
    </style>
</head>
<body>
<div class="detail-body row">
    <div class="col-md-9" style="margin-bottom: 0">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">当前句柄</label>
                <div class="col-md-8">
                    <input id="i-rebind-hwnd" class="form-control" th:value="${hwnd}"/>
                </div>
                <div class="col-md-2">
                    <button id="ddt-rebind" class="btn btn-primary col-sm-12">重绑定</button>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">当前副本</label>
                <div class="col-md-2">
                    <select class="form-control" name="levelLine">
                        <option value="1" th:selected="${config.levelLine == 1}">1 行</option>
                        <option value="2" th:selected="${config.levelLine == 2}">2 行</option>
                        <option value="3" th:selected="${config.levelLine == 3}">3 行</option>
                        <option value="4" th:selected="${config.levelLine == 4}">4 行</option>
                        <option value="5" th:selected="${config.levelLine == 5}">5 行</option>
                        <option value="6" th:selected="${config.levelLine == 6}">6 行</option>
                        <option value="7" th:selected="${config.levelLine == 7}">7 行</option>
                        <option value="8" th:selected="${config.levelLine == 8}">8 行</option>
                        <option value="9" th:selected="${config.levelLine == 9}">9 行</option>
                        <option value="10" th:selected="${config.levelLine == 10}">10 行</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="levelRow">
                        <option value="1" th:selected="${config.levelRow == 1}">1 列</option>
                        <option value="2" th:selected="${config.levelRow == 2}">2 列</option>
                        <option value="3" th:selected="${config.levelRow == 3}">3 列</option>
                        <option value="4" th:selected="${config.levelRow == 4}">4 列</option>
                    </select>
                </div>
                <label class="col-md-1 control-label">难度</label>
                <div class="col-md-5">
                    <div class="slider-img" th:attr="slider-default=${config.levelDifficulty}">
                        <img src="/static/img/副本难度.bmp" style="width: 100%"/>
                    </div>
                    <input type="hidden" name="levelDifficulty" th:value="${config.levelDifficulty}"/>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">当前任务</label>
                <div class="col-md-7">
                    <select id="select-tasks" class="form-control">
                        <option class="list-group-item" th:each="rule:${rules}"
                        th:text="${'通关' + rule.passed + '次副本后选择[' + rule.levelLine + '-' + rule.levelRow + ']，难度值：[' + rule.levelDifficulty + '%]'}"
                        th:value="${rule.passed}">
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button id="btn-removeTask" class="btn btn-danger">删除</button>
                    <button id="btn-addTask" class="btn btn-primary pull-right" data-toggle="modal"
                            data-target="#addTask">添加任务
                    </button>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">游戏快照</label>
                <div id="game-screen" class="col-md-10">
                    <img th:src="@{/util/screenshot(hwnd=${hwnd})}"/>
                </div>
            </div>
        </div>
    </div>
    <div id="ddt-logs-wrapper" class="col-md-3">
        <div id="ddt-logs-title">
            脚本日志
        </div>
        <div id="ddt-logs">
            <ul>
                <li th:each="ddtlog:${ddtankLog.logs}">[[${#numbers.formatInteger(ddtlog.time.hour,
                    2)}]]:[[${#numbers.formatInteger(ddtlog.time.minute,
                    2)}]]:[[${#numbers.formatInteger(ddtlog.time.second, 2)}]] [[${ddtlog.msg}]]
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="addTask" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">添加任务</h4>
            </div>
            <div class="modal-body">
                <form id="form-taskAdd" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">通关数</label>
                        <div class="col-md-9">
                            <input class="form-control" name="passed" type="number"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">关卡选择</label>
                        <div class="col-md-4">
                            <select class="form-control" name="levelLine">
                                <option value="1" th:selected="${config.levelLine == 1}">1 行</option>
                                <option value="2" th:selected="${config.levelLine == 2}">2 行</option>
                                <option value="3" th:selected="${config.levelLine == 3}">3 行</option>
                                <option value="4" th:selected="${config.levelLine == 4}">4 行</option>
                                <option value="5" th:selected="${config.levelLine == 5}">5 行</option>
                                <option value="6" th:selected="${config.levelLine == 6}">6 行</option>
                                <option value="7" th:selected="${config.levelLine == 7}">7 行</option>
                                <option value="8" th:selected="${config.levelLine == 8}">8 行</option>
                                <option value="9" th:selected="${config.levelLine == 9}">9 行</option>
                                <option value="10" th:selected="${config.levelLine == 10}">10 行</option>
                            </select>
                        </div>
                        <div class="col-md-offset-1 col-md-4">
                            <select class="form-control" name="levelRow">
                                <option value="1" th:selected="${config.levelRow == 1}">1 列</option>
                                <option value="2" th:selected="${config.levelRow == 2}">2 列</option>
                                <option value="3" th:selected="${config.levelRow == 3}">3 列</option>
                                <option value="4" th:selected="${config.levelRow == 4}">4 列</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">难度</label>
                        <div class="col-md-9">
                            <div class="slider-img" th:attr="slider-default=${config.levelDifficulty}">
                                <img src="/static/img/副本难度.bmp" style="width: 100%"/>
                            </div>
                            <input type="hidden" name="levelDifficulty" th:value="${config.levelDifficulty}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn-addTask-submit" type="button" class="btn btn-primary">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
<script>
    // 移除任务
    $("#btn-removeTask").click(function () {

    })

    // 添加任务
    $("#btn-addTask-submit").click(function () {
        postAjax('/util/run/[[${hwnd}]]/task', $("#form-taskAdd").serialize(), function (data) {
            alert("任务添加成功！");
            location.reload();
        })
    })
    // 刷新滑块宽度
    $("#btn-addTask").click(function () {
        $(".sliderlens.horiz").css("width", "100%");
        $(".sliderlens.horiz").css("height", "34px");
        $(".handle .slider-img").css("height", "auto");
    });

    /*重绑定*/
    $("#ddt-rebind").click(function () {
        let param = {
            hwnd: [[${hwnd}]],
            newHwnd: $("#i-rebind-hwnd").val()
        };
        if (param['hwnd'] == param['newHwnd']) {
            windorAlert("请更改句柄后再进行操作");
        } else {
            postAjax("/util/rebind", param, function (data) {
                windorAlert('提示', '重绑定成功');
            })
        }
    })

    /*难度滑块*/
    $(".slider-img").each(function (index, element) {
        $(element).rsSliderLens({
            handle: {
                zoom: 1.5,
                pos: 0.5
            },
            ruler: {
                visible: false
            },
            onChange: function (event, value, isFirstHandle) {
                $(event.currentTarget).parent("div").next("input[type='hidden']").val(value);
            },
            value: $(element).attr("slider-default")
        });
    });
    $(".handle .slider-img").each(function (index, element) {
        $(element).css("width", "1000%");
    })

    var labels = [];
    for (var i = 0; i <= 3000;) {
        labels.push(i);
        if (i < 500) {
            i += 50;
        } else if (i < 1000) {
            i += 100;
        } else if (i < 2000) {
            i += 200;
        } else {
            i += 500;
        }
    }
</script>
</html>