<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::.index-main}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{::.bg}, contentAfter=~{::.index-tool},
      h1='DDTank —— 终章')}">
<head>
    <meta charset="UTF-8">
    <title>DDTank —— 终章</title>
    <link rel="stylesheet" th:href="@{/static/css/bg.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common/form.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/rsSliderLens.css}"/>
    <script src="/static/js/jquery.rsSliderLens.js"></script>
    <script src="/static/js/common/form-base.js"></script>
    <style>
        .table > tbody > tr > td {
            text-align: center;
            line-height: 34px;
        }

        kbd {
            margin: 0 10px;
        }

        .index-tool {
            width: 40px;
            position: absolute;
            right: 50%;
            top: 212px;
        }

        .index-tool button {
            width: 40px;
        }

        @media (min-width: 992px) {
            .index-tool {
                margin-right: -540px;
            }
        }

        @media (min-width: 1200px) {
            .index-tool {
                margin-right: -640px;
            }
        }
    </style>
</head>
<body>
<div class="bg">
    <div class="bg-cover"
         th:style="'background-image:url(/static/img/bg/lost.jpg);'"
         th:if="${startedMap.size() == 0 && waitStartMap.size() == 0}"></div>
    <div class="bg-cover"
         th:style="'background-image:url(/static/img/bg/28186b656f2e05bdef2b452ef1e29416.jpg);'"
         th:if="${startedMap.size() == 0 && waitStartMap.size() > 0}"></div>
    <div class="bg-cover"
         th:style="'background-image:url(/static/img/bg/void_system_by_elreviae_d8wihvy.jpg);'"
         th:if="${startedMap.size() > 0}"></div>
</div>
<div class="row index-main" th:if="${waitStartMap.keySet().size() == 0 && startedMap.keySet().size() == 0}">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        当前还未标记任何窗口哦，请使用快捷键<kbd>alt + 1</kbd>标记游戏窗口吧。已标记？请 <a href="">刷新</a>
    </div>
</div>
<div class="row index-main">
    <!--导航栏-->
    <div th:if="${waitStartMap.keySet().size() > 0}">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" th:class="${n.first ? 'active' : ''}" th:each="hwnd, n:${waitStartMap.keySet()}">
                <a th:href="@{'#' + ${hwnd}}" onclick="freshSlider()" th:attr="aria-controls=${hwnd}" role="tab"
                   data-toggle="tab">
                    [[${hwnd}]] (待启动)
                </a></li>
            <li role="presentation"><a href="#allHwnds" onclick="freshSlider()" aria-controls="allHwnds" role="tab"
                                       data-toggle="tab">
                一键设置
            </a></li>
        </ul>
        <div class="tab-content" style="padding-top: 30px">
            <div role="tabpanel" th:id="${hwnd}" class="tab-pane" th:classappend="${n.first ? 'active' : ''}"
                 th:each="hwnd, n : ${waitStartMap.keySet()}">
                <form class="ddtank-start-form form-horizontal">
                    <input type="hidden" name="hwnd" th:value="${hwnd}"/>
                    <div th:replace="common/form-base :: form-base(${@getDDTankConfigProperties}, ~{::before}, ~{::end})">
                        <div class="form-group" th:fragment="before">
                            <label class="col-md-2 control-label">脚本名称</label>
                            <div class="col-md-2">
                                <input class="form-control" th:value="${waitStartMap.get(hwnd).name}" name="name"/>
                            </div>
                            <label class="col-md-2 control-label">版本配置</label>
                            <div class="col-md-6">
                                <select class="form-control" name="version">
                                    <option value="10">10.4</option>
                                    <option value="2">2.3</option>
                                    <option value="2.4">2.4（可爱弹弹堂）</option>
                                    <option value="2">自定义2（待添加）</option>
                                    <option value="2">自定义3（待添加）</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" th:fragment="before">
                            <label class="col-md-2 control-label">整体配置</label>
                            <div class="col-md-10">
                                <select class="form-control" name="propertiesMode">
                                    <option value="0">* 默认配置</option>
                                    <option th:value="${n.count}" th:each="config, n:${configList}">[[${config.name}]]
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div th:fragment="end">
                            <div class="col-md-offset-8 col-md-2">
                                <button class="btn btn-default" style="width: 100%" type="button">启动后暂停</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" style="width: 100%">启动</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" id="allHwnds" class="tab-pane">
                <form id="start-all-form" class="form-horizontal">
                    <div th:replace="common/form-base :: form-base(${@getDDTankConfigProperties}, ~{::all-before}, ~{::all-end})">
                        <div class="form-group" th:fragment="all-before">
                            <label class="col-md-2 control-label">版本配置</label>
                            <div class="col-md-10">
                                <select class="form-control" name="version">
                                    <option value="10">10.4</option>
                                    <option value="2">2.3</option>
                                    <option value="2.4">2.4（可爱弹弹堂）</option>
                                    <option value="2">自定义2（待添加）</option>
                                    <option value="2">自定义3（待添加）</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" th:fragment="all-before">
                            <label class="col-md-2 control-label">整体配置</label>
                            <div class="col-md-10">
                                <select class="form-control" name="propertiesMode">
                                    <option value="0">* 默认配置</option>
                                    <option th:value="${n.count}" th:each="config, n:${configList}">[[${config.name}]]
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div th:fragment="all-end">
                            <div class="col-md-offset-10 col-md-2">
                                <button class="btn btn-primary" style="width: 100%">一键启动</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    <div class="alert alert-warning alert-dismissible fade in" role="alert"-->
    <!--         th:if="${startedMap.keySet().size() == 0}">-->
    <!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
    <!--            <span aria-hidden="true">&times;</span>-->
    <!--        </button>-->
    <!--        当前还无任何脚本在启动中哦~。已启动？请 <a href="">刷新</a>-->
    <!--    </div>-->
</div>
<div class="row index-main">
    <div th:if="${startedMap.keySet().size() > 0}">
        <form id="ddt">
            <table id="started-table" class="table" >
                <caption>已启动脚本</caption>
                <tr>
                    <th class="text-center"><input type="checkbox"/></th>
                    <th class="text-center">句柄</th>
                    <th class="text-center">脚本名称</th>
                    <th class="text-center">当前状态</th>
                    <th class="text-center">最后消息</th>
                    <th class="text-center">选择副本</th>
                    <th class="text-center">通关次数</th>
                    <th class="text-center">循环次数</th>
                    <th class="text-center">运行时间</th>
                    <th class="text-center">操作</th>
                </tr>
                <tr th:each="hwnd:${startedMap.keySet()}">
                    <td><input type="checkbox" name="hwnd" th:value="${hwnd}"/></td>
                    <td th:text="${hwnd}"></td>
                    <td th:text="${startedMap.get(hwnd).name}"></td>
                    <td th:text="${startedMap.get(hwnd).coreState.getMsg()}"></td>
                    <td th:text="${startedMap.get(hwnd).getCurrentMsg()}"></td>
                    <td>[[${startedMap.get(hwnd).properties.levelLine}]]-[[${startedMap.get(hwnd).properties.levelRow}]]</td>
                    <td th:text="${startedMap.get(hwnd).passes}"></td>
                    <td th:text="${startedMap.get(hwnd).times}"></td>
                    <td th:text="${startedMap.get(hwnd).runTime}"></td>
                    <td>
                        <a class="btn btn-default" th:href="@{/config/run/{hwnd}(hwnd=${hwnd})}">配置</a>
                        <a class="btn btn-info" th:href="@{/detail/run/{hwnd}(hwnd=${hwnd})}">详细</a>
                    </td>
                </tr>
            </table>
        </form>

        <div class="pull-right">
            <button id="ddt-suspend" class="btn btn-primary remove-btn">暂停</button>
            <button id="ddt-continue" class="btn btn-default remove-btn">继续</button>
            <button id="ddt-stop" class="btn btn-danger remove-btn">停止</button>
            <button id="ddt-restart" class="btn btn-warning restart-btn">重启</button>
            <button id="ddt-remove" class="btn btn-danger remove-btn">移除</button>
        </div>
    </div>

    <audio id="danger-data">
    </audio>
</div>
<div class="index-tool hidden-xs hidden-sm" th:if="${danger != null}">
    <div class="main-tool-wrapper">
        <div class="main-tool">
            <button id="danger" class="btn btn-danger">秘</button>
        </div>
    </div>
    <script>
        $(function () {
            $("#danger").click(function () {
                windorAlert("surprise", "啊 :)")
                $("#danger-data").html("<source src='/static/music/surprise.mp3'/>");
                $("#danger-data")[0].play();
            })
        })
    </script>
</div>
</body>
<script src="/static/js/index.js"></script>
</html>