<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1='DDTank —— 终章')}">
<head>
    <meta charset="UTF-8">
    <title>DDTank —— 终章</title>
    <link rel="stylesheet" href="/static/css/iconfont.css" th:href="@{/static/css/iconfont.css}">
    <link rel="stylesheet" href="/static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="stylesheet" href="/static/css/rsSliderLens.css" th:href="@{/static/css/rsSliderLens.css}">
    <!--    <link rel="stylesheet" href="/static/css/verlyRangeSlider.css" th:href="@{/static/css/verlyRangeSlider.css}">-->
    <!--    <script src="/static/js/verlyRange.js" th:src="@{/static/js/verlyRange.js}"></script>-->
    <!--    <script src="/static/js/verly.bundle.js" th:src="@{/static/js/verly.bundle.js}"></script>-->
    <script src="/static/js/jquery.rsSliderLens.js" th:src="@{/static/js/jquery.rsSliderLens.js}"></script>
    <style>
        label {
            font-weight: normal;
        }

        .slider-img {
            line-height: 48px;
        }

        input[type='checkbox'] {
            zoom: 120%;
        }
    </style>
</head>
<body>
<div class="row">
</div>
</body>
<script>
    $(".slider-img").rsSliderLens({
        handle: {
            zoom: 1
        },
        ruler: {
            visible: false
        },
        onChange: function (event, value, isFirstHandle) {
            $(event.currentTarget).parent("div").next("input[type='hidden']").val(value);
        }
    });
    $(".handle .slider-img").css("width", "1000%")


    var labels = [];
    for (var i = -2000; i <= 0;) {
        labels.push(i);
        if (i > -500) {
            i += 50;
        } else if (i > -1000) {
            i += 100;
        } else {
            i += 200;
        }
    }
    $(".slider").rsSliderLens({
        step: 1,
        paddingStart: 0.008,
        paddingEnd: 0.008,
        min: -2000,
        max: 0,
        height: 48,
        handle: {
            zoom: 1
        },
        ruler: {
            labels: {
                values: labels,
                onCustomLabel: function (event, value) {
                    return -value;
                }
            },
            tickMarks: {
                short: {
                    step: 10
                },
                long: {
                    step: 50
                }
            }
        },
        range: {
            type: [-2000, -20],
            draggable: true
        }
    })
</script>
</html>