<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1='DDTank —— 终章')}">
<head>
    <meta charset="UTF-8">
    <title>DDTank —— 终章</title>
    <style>
        .table > tbody > tr > td {
            line-height: 34px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="row">
    <table id="wait-table" class="table table-hover">
        <caption>待启动脚本</caption>
        <tr>
            <th class="text-center">句柄</th>
            <th class="text-center">键盘</th>
            <th class="text-center">鼠标</th>
            <th class="text-center">找图策略</th>
            <th class="text-center">操作策略</th>
            <th class="text-center">走位策略</th>
            <th class="text-center">* 整体配置</th>
            <th class="text-center col-md-2">脚本名称</th>
            <th class="text-center">操作</th>
        </tr>
        <tr th:each="hwnd:${waitStartMap.keySet()}">
            <td th:text="${hwnd}"></td>
            <td>
                <select class="form-control" name="keyboardMode">
                    <option value="0">默认键盘</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="mouseMode">
                    <option value="0">默认鼠标</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="picMode">
                    <option value="0">默认找图</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="operateMode">
                    <option value="0">默认操作</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="moveMode">
                    <option value="0">默认走位</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="propertiesMode">
                    <option value="0">* 默认配置</option>
                </select>
            </td>
            <td><input class="form-control" name="name" th:value="${waitStartMap.get(hwnd).name}"/></td>
            <td><button class="btn btn-primary start-btn">启动</button></td>
        </tr>
    </table>
</div>
</body>
<script>
    $(".start-btn").click(function () {
        let form = $(this).parent().parent();
        let select = form.find("select");
        postAjax("/util/start", {
            hwnd: $(form.find("td")[0]).html(),
            keyboardMode : $(select[0]).val(),
            mouseMode: $(select[1]).val(),
            picMode: $(select[2]).val(),
            operateMode: $(select[3]).val(),
            moveMode: $(select[4]).val(),
            propertiesMode: $(select[5]).val(),
            name: $(form.find("input")[0]).val()
        }, function (data) {
            if(data.data) {
                windorAlert('提示', '已尝试启动脚本');
            }else{
                windorAlert('提示', "脚本已在运行，请勿重复启动");
            }
        })
    })
</script>
</html>