<!DOCTYPE html>
<html th:fragment="main(title, link, style, script, h1, content, contentBefore, contentAfter)"
      xmlns:th="http://www.thymeleaf.org">
<head lang="zh">
    <title th:replace="*{title}">Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/foot.css" th:href="@{/static/css/all.css}"/>
    <link rel="stylesheet" href="/static/css/foot.css" th:href="@{/static/css/foot.css}"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link th:replace="*{link}"/>
    <script src="/static/js/jquery-1.11.0.js" th:src="@{/static/js/jquery-1.11.0.js}"></script>
    <script src="/static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <style th:replace="*{style}"></style>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            overflow-x: hidden;
        }

        .main-body {
            position: relative;
        }

        footer {
            position: relative;
            bottom: 0;
        }

        @media (max-width: 768px) {
            .container {
                width: 100%;
            }
        }

        .panel-body *{
            max-width: 100%;
        }

        .main-body {
            min-width: 70%;
        }
    </style>
</head>
<body>
<div style="display: flex;flex-flow: column nowrap;min-height: calc(100vh);">
    <header class="main-header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}" style="padding: 0"><img src="/static/img/logo.png"
                                                                                   th:src="@{/static/img/logo.png}"
                                                                                   style="height: 80px;margin-top: -15px"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">首页</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                脚本管理 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/script/list}">脚本列表</a></li>
                                <li><a th:href="@{/script/add}">添加脚本</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a th:href="@{/script/hand}">手动启动</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                配置管理 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/config/list}">配置列表</a></li>
                                <li><a th:href="@{/config/add}">新增配置</a></li>
                                <li><a th:href="@{/config/default}">默认配置</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a>配置分享（未开发）</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                自助工具 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/util/test}">识别测试</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a th:href="@{/util/strength}">力度表</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                其他 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a>登录策略</a></li>
                                <li><a>攻击策略</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/about}">关于</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${null != session.get(@sessionConstant.getLoginUser())}">
                            <a class="navbar-link visible-lg" th:href="@{/home}"
                               th:text="${'尊敬的用户 ' + session.get(@sessionConstant.getLoginUser()).userinfo.name}"></a>
                        </li>
                        <li>
                            <a class="navbar-link" th:href="@{/login}"
                               th:if="${session.get(@sessionConstant.getLoginUser()) == null}">登录</a>
                            <a class="navbar-link" id="header-logout" th:href="@{/logout}"
                               th:if="${session.get(@sessionConstant.getLoginUser()) != null}">退出登录</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div th:replace="common/alert :: common-alert('alert')"></div>
    </header>
    <div th:replace="*{contentBefore}"></div>
    <div class="main-body container-fluid" style="flex: 1 1 auto;display: flex;flex-direction: column">
        <div class="row page-header" th:if="*{h1 != null}">
            <h1 th:utext="*{h1}"></h1>
        </div>
        <div th:replace="*{content}"></div>
        <!--        <div class="main-tool-wrapper col-xs-offset-12 hidden-xs">-->
        <!--            <div class="main-tool">-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

    <div th:replace="*{contentAfter}"></div>
    <!--底部样式-->
    <footer style="flex: 0 0 auto;">
        <!--清除页面上全部使用float导致的高度塌陷问题-->
        <div class="clearfix"></div>
        <div id="malody-footer col-xs-12">
            <div>
                <!-- footer -->
                <div class="wave-box">
                    <div class="marquee-box marquee-up" id="marquee-box">
                        <div class="marquee">
                            <div class="wave-list-box" id="wave-list-box1">
                                <ul>
                                    <li>
                                        <img height="60" alt="波浪" src="/static/img/wave_02.png"
                                             th:src="@{/static/img/wave_02.png}">
                                    </li>
                                </ul>
                            </div>
                            <div class="wave-list-box" id="wave-list-box2">
                                <ul>
                                    <li>
                                        <img height="60" alt="波浪" src="/static/img/wave_02.png"
                                             th:src="@{/static/img/wave_02.png}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="marquee-box" id="marquee-box3">
                        <div class="marquee">
                            <div class="wave-list-box" id="wave-list-box4">
                                <ul>
                                    <li>
                                        <img height="60" alt="波浪" src="/static/img/wave_01.png"
                                             th:src="@{/static/img/wave_01.png}">
                                    </li>
                                </ul>
                            </div>
                            <div class="wave-list-box" id="wave-list-box5">
                                <ul>
                                    <li>
                                        <img height="60" alt="波浪" src="/static/img/wave_01.png"
                                             th:src="@{/static/img/wave_01.png}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-floor2">
                        <p>
                            <!-- 网站信息·2022- 版权所有--> <a href="https://beian.miit.gov.cn/"
                                                               target="_blank">冀ICP备XXXXXXXX号-X</a>
                        </p>
                        <p>
                            Copyright(C)windors.cn, All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div th:replace="common/alert :: common-alert(head-logout-alert)"></div>
    </footer>
</div>
</body>
<script th:src="@{/static/js/all.js}"></script>
<script>
    $("#header-logout").click(function () {
        if (confirm("确定要退出吗")) {
            $.post($("#header-logout").attr("href"), null, function (data) {
                if (200 === data.code) {
                    alert("退出成功");
                    location.reload();
                } else {
                    alert("退出失败，错误码: " + data.code + "，原因: " + data.msg);
                }
            })
        }
        return false;
    })

    /* 弹出框 */
    function windorResponseAlert(data) {
        $("#alert-code").html("错误: " + data.code);
        $("#alert-msg").html(data.msg);
        $('#alert').modal('show')
    }

    function windorAlert(title, content) {
        $("#alert-code").html(title);
        $("#alert-msg").html(content);
        $('#alert').modal('show')
    }
</script>
<script th:replace="*{script}"></script>
</html>