<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/main :: main (title=~{::title}?:_, content=~{::body}, link=~{::link}?:~{}, script=~{::script}?:~{}, style=~{::style}?:~{}, contentBefore=~{}, contentAfter=~{},
      h1=null)}">
<head>
    <meta charset="UTF-8">
    <title>笔记详细</title>
</head>
<body>
<div class="row">
    <div class="col-xs-12">
        <div class="windor-title-flex">
            <h1 th:text="${summary.title}"></h1>
            <div>
                <a class="btn btn-link" th:href="@{/summary/edit/{summaryId}(summaryId=${summary.id})}">编辑</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div th:utext="${summary.content}"></div>
    </div>
</div>
</body>
</html>